@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

  :root {
    --font-k2d: var(--font-k2d), system-ui, sans-serif;

    --primary: #f7f7f7;
    --primary-foreground: #e5e5e5;
    --primary-dimmed: #f0f0f0;
    --alternate-primary: #c45700;
    --secondary: #f4f4f4;
    --secondary-foreground: #e5e5e5;

    --chat-message: #e8e8e8;
    --alternate-secondary: #e8e8e8;
    --code-block: #f5f5f5;

    --muted: #f3f3f3;
    --muted-foreground: #999999;

    --percentage-filler: #8e44ad;
    --upgrade-plan-secondary: #fcefe5;
    --shimmer: #d6d6d6;

    --text-primary: #1a1a1a;
    /* --text-primary : blue; */
    --text-secondary: #4b4b4b;
    --text-tertiary: #6b6b6b;
    --text-editor: #1e1e1e;
    --text-link: #8e44ad;

    --lp-background: #fdfdfd;
    --lp-primary: #00b87f;
    --lp-secondary: #121212;

    --lp-text-primary: #121212;
    --lp-text-secondary: #ffffff;

    --border: #d0d0d0;
    --text-lg: 16px;
    --text-xl: 18px;

  }
 
  .dark {
    --font-k2d: var(--font-k2d), system-ui, sans-serif;

    --primary: #191919;
    --primary-foreground: #252525;
    --primary-dimmed: #2f2f2f;
    --alternate-primary: #d87620;
    --secondary: #202020;
    --secondary-foreground: #2e2e2e;
  
    --chat-message: #2a2a2a;
    --alternate-secondary: #2a2a2a;
    --code-block: #141414;
  
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: #2a2a2a;
  
    --percentage-filler: #bb88cc;
    --upgrade-plan-secondary: #5c3b23;
    --shimmer: #e0e0e0;
  
    --text-primary: #d9d9d9;
    --text-secondary: #acacac;
    --text-tertiary: #6b6b6b;
    --text-editor: #d4d4d4;
    --text-link: #bb88cc;
  
    --lp-background: #0e1114;
    --lp-primary: #62f6b5;
    --lp-secondary: #fffaea;
    --border: #6b6b6b;
  
    --lp-text-primary: #fffaea;
    --lp-text-secondary: #0e1114;

    --text-lg: 16px;
    --text-xl: 18px;
  }
}

.textbox-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.textbox-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background-clip: padding-box;
}

.textbox-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* For Firefox */
.textbox-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text-primary font-sans;
  }
}
